.Header {
  background: var(--header-color);
  padding: 15px;
  top: 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}

.NavContainer {
  justify-self: end;
  border: 1px black solid;
  background: var(--container-color);
}
